.requestConvo{
    color: rgb(62, 43, 43);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 3;

    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;


    display: flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    justify-content: center;
}

.requestArea{
    margin-top: 4%;
    margin-left: 4%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.btnPaste{
    margin-top: 4%;
    
    align-items: center;
    cursor: pointer;

    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(62, 43, 43);
    background-color: transparent;
}

:hover.btnPaste{
    background-color: rgb(62, 43, 43);
    color: #ffff ;
}

.txtPaste{
    margin-top: 4%;
    margin-right: 4px;
    font-size: 13px;
    color: rgb(62, 43, 43);
    text-align: center;
    font-weight: 500;

    align-items: center;
    cursor: copy;

    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(62, 43, 43);
    background-color: transparent;
}

.btnRequest{
    width: 50%;
    color: #ffff;
    font-size: 16px;
    background-color: rgb(40, 89, 40);
    border-radius: 5px;
    border-style: initial;

    margin-top: 4%;

    cursor: pointer;
}

.warningText{
    margin-top: 5px;
    font-size: 16px;
    color: #b20202;
}
